
singularity {
    enabled = true
    autoMounts = true
}

params {
    // Containers
    bcftools      = 'bcftools.1.19'
    samtools      = 'samtools.1.9'
    bioconductor  = 'bioconductor.3.19'
    rocker        = 'rocker'
    rvs           = 'rvs.1.24.0'

    // Default params
    // vcf           = "*.variants.vcf.gz{,.tbi}"
    // cases         = "*.cases.txt"
    genome        = 'hg38'
    style         = 'NCBI'
    GQ            = 30
    DP            = 10
    VAF           = 0.4
    MAF           = 0.005
    HWE           = 1e-5
    ExcHet        = 0.9
    gnomADe_AF    = 0.005
    MAX_AF        = 0.005
    DS            = 0.8
}

profiles {
  // Resource profiles
  local     { includeConfig 'conf/local.config' }
  cluster   { includeConfig 'conf/cluster.config' }
  dynamic   { includeConfig 'conf/dynamic.config' }
  
  // Test profile (Same as default params)
  test {
    params {
      vcf           = "$SCRATCH/toy-datasets/vcf-sarek/pheno.variants.vcf.gz{,.tbi}"
      cases         = "$SCRATCH/toy-datasets/vcf-sarek/pheno.cases.txt"
      genome        = 'hg38'
      style         = 'NCBI'
      GQ            = 30
      DP            = 10
      VAF           = 0.4
      MAF           = 0.005
      HWE           = 1e-5
      ExcHet        = 0.9
      gnomADe_AF    = 0.005
      MAX_AF        = 0.005
      DS            = 0.8
    }
  }
}
